# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Build directories
build-n3ds/**
build/**
gfx/**
romfs/gfx/**
romfs/audio/**
sfx/**
.vscode/**
output/**
build-n3ds-profile/**
venv/**
crash_dump_*.dmp
crash_dump_*.dmp
output/cinnamon.3dsx
